QPushButton#smiley {
    border-style: inset;
    border-width: 0px;
    border-radius: 0px;
    margin: 3 3 3 3;
    border-image: url(:/icons/png/smiley_surprised.png) 0 0 0 0 stretch stretch;
}

QPushButton#smiley:hover {
    border-image: url(:/icons/png/smiley_surprised_hover.png) 0 0 0 0 stretch stretch;
}
